main{
    display: flex;
}

.block{
    display: inline-block;
    width: 350px;
    padding: 10px;
}

#estampa{
    display: flex;
    justify-content: center;
    width: 97%;
}

.botaoLogin{

    width: 250px;
    height: 50px;
    border-radius: 50px;
    
}
.botao{
    margin-right: 4%;
    padding: 1% 16%;
    border-radius: 50px;

}

.shirt-table {
    border-collapse: collapse;
    width: 50%;
    border-radius: 50px;

    margin: auto;
}

.shirt-table th, .shirt-table td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

.shirt-table th {
    background-color: #f2f2f2;
}

.shirt-table tr:nth-child(even) {
    background-color: #f2f2f2;
}