main{
    position: relative;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 2%;
    font-family: 'Comfortaa', cursive;
    flex-direction: column;
}
#opcoes{
    width: 340px;
    border: 2px solid;
    border-radius: 5px;
    border-color: black;
    border-width: 1.3px;
}

input{
    border-radius: 5px;
}

input::placeholder{
    color: rgb(191, 191, 191);
}

fieldset{
    border-radius: 10px;
}
#titulo{
    text-align: center;
}

#invisivel{
    display: none;
    width: 790px;
    text-align: justify;
}

.nota{
    font-size: 14px;
    color: rgb(135, 135, 135);
   }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50px, 780px) );
    grid-gap: 5px;
}

.grid-item {
    padding: 5px;
    text-align: center;
}

.border{
    border: solid 2px black;
    border-radius: 25px;
    padding:20px;
    margin-bottom: 3%;
}

.block{
    display: inline-block;
    width: 350px;
    padding: 20px;
}

#estampa{
    display: flex;
    justify-content: center;
    width: 97%;
    border-color: black;
    border-width: 1.3px;
}

.botao-grid{
    display: flex;
    justify-content: space-evenly;
}

.botao-copiar{
    width: 33%;
    display: flex; align-items: center; justify-content: center;

    border-width: 1.3px;
    border-color: black;
    background: none;
    padding: 2% 5%;
    border-radius: 30px;
    cursor: pointer;
    transition: all 300ms ease-in-out;
    margin:10px;
    
}

.p-copiar{
    width: 43%;
    display: flex; align-items: center; justify-content: center;

    margin:10px;
}

.botao-copiar:hover{
    background-color: rgb(228, 228, 228);
    border: solid  rgb(208, 208, 208);
    transform: scale(110%);
}

.alinha{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
     margin: 1rem;
}

.botao{
    padding: 1% 16%;
    border-radius: 50px;
    border-color: black;
    border-width: 1.3px;
    cursor: pointer;
    transition: all 300ms ease-in-out;

}

.botao:hover{
    transform: scale(110%);
}

.aviso{
    background-color: rgba(128, 128, 128, 0.189);
    border-radius: 20px;
    transition: all 100ms ease-in-out;
    display: none; 
    text-align: center;
    padding: 9px; 
    z-index: 1;
    margin:10px;
}